<div class="row align-items-center vh-100">
  <div class="row h-auto text-light text-shadow-1">
    <h1 id="company-typewriter" class="text-center"></h1>
  </div>
</div>
<div class="row align-items-center vh-100">
  <div class="row bg-primary h-auto p-5 opacity-95">
    <div class="col-md">
      <h1 class="">Visit Us</h1>
<!--       <p>Come see us in the heart of the Rost District, Broken Arrow, Oklahoma!</p>
      <p class="">The Lodge on Main is not only the place to book your Private Event, but also a place to build commmunity and enjoy Oklahoma crafted beer and good times with family and friends!</p> -->
        <% @store_hours.each do |store_hour| %>
          <div class="row">
            <h5 class="col-sm-6">
              <% store_hour[1].each_with_index do |store_day, idx| %>
                <% if store_hour[1].length == idx + 1 %>
                  <%= store_day.day %>
                <% else %>
                  <%= store_day.day %>, 
                <% end %>
              <% end %>
            </h5>
            <p class="col-sm-6">
              <% if store_hour[0][2] %>
                CLOSED
              <% else %>
                <%= format_time store_hour[0][0] %> - <%= format_time store_hour[0][1] %>
              <% end %>
            </p>
          </div>
        <% end %>     
    </div>
    <div class="col-md ratio ratio-4x3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3225.7118530447524!2d-95.79328538470402!3d36.05173761717027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b68bc237baa627%3A0xedb89de00053396f!2s118%20S%20Main%20St%2C%20Broken%20Arrow%2C%20OK%2074012!5e0!3m2!1sen!2sus!4v1661052863766!5m2!1sen!2sus" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
<div class="row align-items-center vh-100">
  <div class="row bg-primary h-auto p-5 opacity-95">
    <h1 class="">Taproom</h1>
    <p class="">Consider this your invite!</p>
    <p class="">You don't have to attend a private event to come hang out at the Lodge. We welcome you to shate our Family Friendly space!
    <p class="">We will have regular open hours available when not booked for events.</p>
    <p class="">So come on in! Stay awhile!</p>
  </div>
</div>
<div class="row align-items-center vh-100">
  <%= link_to(events_path, class: 'btn stretched-link') do %>
    <div class="row bg-primary h-auto p-5 opacity-95">
      <h1 class="">Events</h1>
      <p class="">We would love to host your special event.</p>
      <p class="">Enjoy our entire space as you and your guests make yourself at home, and create lasting memories for your next personal or business get together.</p>
    </div>
  <% end %>
</div>