<% @events.each do |event| %>
  <div class="row bg-primary p-3">
    <div class="col">   
      <%= event.title %>
    </div>
    <div class="col">   
      <%= event.description %>
    </div>
    <div class="col">
      <%= week_day(event.date) %>
      <%= readable_date(event.date) %>
    </div>
    <div class="col">   
      <%= format_time(event.start_time) %>
    </div>
    <div class="col">   
      <%= format_time(event.end_time) %>
    </div>
  </div>
<% end %>