<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3 my-2">
  <% @beers.each do |beer| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body <%= beer.in_stock ? '' : ' text-muted' %>">
          <div class="row">
            <div class="col">
              <h1 class="card-title"><%= beer.position %></h1>
              <h5 class="card-title"><%= beer.title %></h5>
              <p class="card-text"><%= beer.in_stock ? beer.description : 'OUT OF STOCK' %></p>
            </div>
            <div class="col-auto">
              <div class="row align-items-end h-50">
                <%= fa_icon(
                  'sort-up 2x',
                  class: "ajax-update-position",
                  'data-id': "#{beer.id}",
                  'data-position': "#{beer.position - 1}"
                  ) %>
              </div>
              <div class="row h-50">
                <%= fa_icon(
                  'sort-down 2x',
                  class: "ajax-update-position",
                  'data-id': "#{beer.id}",
                  'data-position': "#{beer.position + 1}"
                  ) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>