<div class="row justify-content-center m-3">
  <div class="row my-2">
    <%= link_to(
      'Add Day',
      new_store_hour_path,
      class: 'btn btn-primary'
    ) %>
  </div>
  <div class="col p-3 bg-primary">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Day</th>
          <th>Day Type</th>
          <th>Opening Time</th>
          <th>Closing Time</th>
          <th>Closed?</th>
          <th>Active?</th>
        </tr>
      </thead>
      <tbody>
        <% @store_hours.each do |store_hour| %>
          <tr class="js-table-row-link" data-url="<%= edit_store_hour_path(store_hour) %>">
            <td>
              <%= store_hour.day %>
            </td>
            <td>
              <%= store_hour.day_type.titleize %>
            </td>
            <td>
              <%= format_time store_hour.opening_time %>
            </td>
            <td>
              <%= format_time store_hour.closing_time %>
            </td>
            <td>
              <%= store_hour.is_closed %>
            </td>
            <td>
              <%= store_hour.is_active %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>